[Unit]
Description=Attach and resize block device
After=network.target

[Service]
EnvironmentFile=/etc/environment
Type=oneshot
RemainAfterExit=true

ExecStart=/opt/setup/block_device.sh

[Install]
WantedBy=multi-user.target
