[Unit]
Description=Download Grafana/Prometheus configuration files from GitHub
After=network.target

[Service]
Type=oneshot
RemainAfterExit=true
EnvironmentFile=/etc/environment

ExecStart=/opt/setup/download_configs.sh

[Install]
WantedBy=multi-user.target
