[Unit]
Description=LetsEncrypt

# ストレージボリュームが必要
Requires=block_device.service
After=block_device.service

# Nginx（リバースプロキシ）が必要
Requires=nginx.service
After=nginx.service

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/environment

ExecStart=/opt/setup/letsencrypt_config.sh

[Install]
WantedBy=multi-user.target
