[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target

Requires=download_configs.service
After=download_configs.service

[Service]
Type=simple
EnvironmentFile=/etc/environment

ExecStartPre=/opt/setup/node_exporter.sh install
ExecStart=/opt/setup/node_exporter.sh start

[Install]
WantedBy=multi-user.target
